<a href="https://colab.research.google.com/github/aekanun2020/Data-Analytics-using-Python/blob/main/G_Python_Pandas_Null_Removal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Null Removal เป็นการ ซ่อนหรือลบทิ้ง (Ignorance) 

(1) Ignorance ทั้ง Row ที่มี Null อยู่

(2) Ignorance ทั้ง Column ที่มี Null อยู่

(3) จัดเก็บผลการ Ignorance ไว้ในตัวแปร และ Recheck

In [1]:
# Create DataFrame with None/Null to work with examples
import pandas as pd
import numpy as np
technologies   = ({
    'Courses':["Spark","PySpark","Hadoop","Python","Pandas",None,"Spark","Python"],
    'Fee' :[22000,25000,23000,24000,np.nan,25000,25000,22000],
    'Duration':['30day','50days','55days','40days','60days','35day','','50days'],
    'Discount':[1000,2300,1000,1200,2500,1300,1400,1600]
          })
row_labels=['r0','r1','r2','r3','r4','r5','r6','r7']
df = pd.DataFrame(technologies, index=row_labels)
print(df)

    Courses      Fee Duration  Discount
r0    Spark  22000.0    30day      1000
r1  PySpark  25000.0   50days      2300
r2   Hadoop  23000.0   55days      1000
r3   Python  24000.0   40days      1200
r4   Pandas      NaN   60days      2500
r5     None  25000.0    35day      1300
r6    Spark  25000.0               1400
r7   Python  22000.0   50days      1600

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, r0 to r7
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Courses   7 non-null      object
 1   Fee       7 non-null      float64
 2   Duration  8 non-null      object
 3   Discount  8 non-null      int64
dtypes: float64(1), int64(1), object(2)
memory usage: 320.0+ bytes

In [3]:
df.isnull().sum()

Courses     1
Fee         1
Duration    0
Discount    0
dtype: int64

In [4]:
df[df['Courses'].isnull()]

   Courses      Fee Duration  Discount
r5    None  25000.0    35day      1300

In [5]:
df[df['Fee'].isnull()]

   Courses  Fee Duration  Discount
r4  Pandas  NaN   60days      2500

In [6]:
df[df.columns[df.isnull().any()]][df.isnull().any(axis=1)] # Locate Null

   Courses      Fee
r4  Pandas      NaN
r5    None  25000.0

# **1. Rows Ignorance**

In [7]:
df.dropna(subset=['Courses'])

    Courses      Fee Duration  Discount
r0    Spark  22000.0    30day      1000
r1  PySpark  25000.0   50days      2300
r2   Hadoop  23000.0   55days      1000
r3   Python  24000.0   40days      1200
r4   Pandas      NaN   60days      2500
r6    Spark  25000.0               1400
r7   Python  22000.0   50days      1600

In [8]:
df.dropna(subset=['Fee'])

    Courses      Fee Duration  Discount
r0    Spark  22000.0    30day      1000
r1  PySpark  25000.0   50days      2300
r2   Hadoop  23000.0   55days      1000
r3   Python  24000.0   40days      1200
r5     None  25000.0    35day      1300
r6    Spark  25000.0               1400
r7   Python  22000.0   50days      1600

In [9]:
# ทิ้ง Row ที่มี Element เป็น Null
# สังเกตว่า Row ที่ r4 และ r5 ถูกทิ้งไปทั้ง Row

df.dropna(axis=0)

    Courses      Fee Duration  Discount
r0    Spark  22000.0    30day      1000
r1  PySpark  25000.0   50days      2300
r2   Hadoop  23000.0   55days      1000
r3   Python  24000.0   40days      1200
r6    Spark  25000.0               1400
r7   Python  22000.0   50days      1600

# **2. Columns Ignorance**

In [10]:
# ทิ้ง Column ที่มี Element เป็น Null
# สังเกตว่า Courses และ Fee ถูกทิ้งไปทั้ง Column

df.dropna(axis=1)

   Duration  Discount
r0    30day      1000
r1   50days      2300
r2   55days      1000
r3   40days      1200
r4   60days      2500
r5    35day      1300
r6               1400
r7   50days      1600

In [11]:
df

    Courses      Fee Duration  Discount
r0    Spark  22000.0    30day      1000
r1  PySpark  25000.0   50days      2300
r2   Hadoop  23000.0   55days      1000
r3   Python  24000.0   40days      1200
r4   Pandas      NaN   60days      2500
r5     None  25000.0    35day      1300
r6    Spark  25000.0               1400
r7   Python  22000.0   50days      1600

# **3. จัดเก็บผลไว้ในตัวแปร และ Recheck**

In [12]:
df = df.dropna()

In [13]:
# กลับมาสำรวจดู Null อีกครั้ง และพบว่าไม่มี Null แล้ว

df[df.columns[df.isnull().any()]][df.isnull().any(axis=1)]

Empty DataFrame
Columns: []
Index: []

In [14]:
df

    Courses      Fee Duration  Discount
r0    Spark  22000.0    30day      1000
r1  PySpark  25000.0   50days      2300
r2   Hadoop  23000.0   55days      1000
r3   Python  24000.0   40days      1200
r6    Spark  25000.0               1400
r7   Python  22000.0   50days      1600